In [1]:
def add_number(x,y):
    z=x+y
    return z

In [2]:
add_number(10,20)

30

In [3]:
type(add_number)

function

In [4]:
def add_number(x,y):
    return(x+y)

In [5]:
add_number(10,50)

60

In [6]:
add_number(10,50.6)

60.6

In [7]:
add_number(50.8,60.9)

111.69999999999999

In [8]:
add_number(60,"80")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
add_number("koti","datascience")

'kotidatascience'

In [10]:
def fun_cal(x,y):
    return(x+y,x-y)

In [12]:
list(fun_cal(20,10))

[30, 10]

In [13]:
def fun_cal(x,y):
    a=x+y
    b=x-y
    c=x*y
    d=x/y
    return a,b,c,d

In [14]:
fun_cal(20,10)

(30, 10, 200, 2.0)

In [17]:
def fun_cal1(x,y):
    a=sum(x)
    b=sum(y)
    return a,b

In [18]:
fun_cal1(x=[1,5,6,7],y=[10,20,30,49])

(19, 109)

In [19]:
sumx=0
for i in range(1,10):
    sumx=sumx+i
    print(sumx)

1
3
6
10
15
21
28
36
45

In [21]:
def for_cal(i,j,k):
    for i in range(i,j):
        k=k+i
        print("each iteration",i,"values are",k)

In [22]:
for_cal(i=1,j=10,k=0)

each iteration 1 values are 1
each iteration 2 values are 3
each iteration 3 values are 6
each iteration 4 values are 10
each iteration 5 values are 15
each iteration 6 values are 21
each iteration 7 values are 28
each iteration 8 values are 36
each iteration 9 values are 45

In [23]:
def for_cal(i,j,k):
    for i in range(i,j):
        k=k+i
        return k

In [24]:
for_cal(i=1,j=10,k=0)

1

In [25]:
def abc_cal():
    pass

In [26]:
def abc(x=10,y=20):
    z=x+y
    return z

In [27]:
abc()

30

In [28]:
abc(x=60,y=80)

140

In [29]:
abc(y=40)

50

In [30]:
abc(100)

120

In [31]:
def my_function(fname):
    print(fname + " how are you")

In [32]:
my_function("rushi")

rushi how are you

In [35]:
def my_function(country="india"):
    return("I am from "+ country)

In [36]:
my_function("USA")

'I am from USA'

In [38]:
my_function("NZ")

'I am from NZ'

In [39]:
def my_function(food):
    for i in food:
        print(i)

In [42]:
food1=["APPLE","Banna"]

In [43]:
my_function(food1)

APPLE
Banna

In [44]:
def my_function(x):
    return 5*x

In [45]:
my_function(10)

50

In [46]:
def my_function(kid1,kid2,kid3):
    print("The youngest kid is "+kid3)

In [47]:
my_function(kid1="laptop",kid2="phone",kid3="jessi")

The youngest kid is jessi

In [52]:
def my_function(*kids):
    print("the youngest kid is "+kids[3])

In [53]:
my_function("laptop","mobile","jessi","lohit")

the youngest kid is lohit

In [54]:
def abc1(*x):
    a=(x[1]+x[2]+x[3])/x[5]
    return a

In [55]:
abc1(10,20,40,50,60,80,100,200,400,600)

1.375

In [57]:
def tri_recursion(k):
    if(k>0):
        result=k+tri_recursion(k-1)
        #print(result)
    else:
        result=0
    return result
print("\n\nRecursion example")
tri_recursion(6)

Recursion example

21

In [58]:
add_number=lambda x,y:x+y

In [59]:
add_number(10,20.8)

30.8

In [60]:
add_number=lambda x,y:(x+y,x-y)

In [61]:
add_number(10,20.8)

(30.8, -10.8)

In [62]:
add_number=lambda x,y:[x+y,x-y]

In [63]:
add_number(10,20.8)

[30.8, -10.8]

In [64]:
a="Hello india how are you"

In [65]:
len(a)

23

In [66]:
ab=lambda x:len(x)

In [67]:
ab(a)

23

In [70]:
ab=lambda x:x.split()

In [71]:
ab(a)

['Hello', 'india', 'how', 'are', 'you']

In [72]:
def abc(x):
    return x*5

In [73]:
abc(10)

50

In [74]:
abc([10,40])

[10, 40, 10, 40, 10, 40, 10, 40, 10, 40]

In [75]:
abc1=lambda x:x*5

In [76]:
abc1(10)

50

In [77]:
abc1([10,40])

[10, 40, 10, 40, 10, 40, 10, 40, 10, 40]

In [80]:
ab=[10,49]

In [81]:
abc2=map(lambda x:x*5,ab)

In [83]:
print(list(abc2))

[50, 245]

In [102]:
def efx(x):
    return x*10

In [104]:
abc1=map(efx,(2,5))

In [105]:
print(tuple(abc1))

(20, 50)

In [106]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]

In [107]:
dict_a

[{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]

In [108]:
dict_a["name"]

TypeError: list indices must be integers or slices, not str

In [116]:
ab=map(lambda x:x["name"],dict_a)

In [117]:
print(list(ab)[1])

java